.footer {
    align-items: center;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--ds-spacing-m) 0;
    width: 100%;
}

.link {
    display: inline-block;
    margin: 0 auto var(--ds-spacing-m);
    width: 100px;
}

.logo {
    width: 100%;
}

.text {
    color: var(--ds-white);
    display: block;
    font-size: var(--ds-fontSize-12);
    font-weight: var(--ds-fontWeight-light);
    text-align: center;
}